ul.thumbnails, #carosel {
  float: left;
  margin-top: 16px;
}

#carosel img {
  max-width: 625px;
}

ul.thumbnails li {
  list-style-type: none;
  margin: 0 15px 5px 0;
  padding: 2px;
}

ul.thumbnails li img {
  width: 56px;
  height: 56px;
  border-radius: 5px;
}

ul.thumbnails li img:hover {
  border: 2px solid black;
}